html{
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
}

*{

    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace; 
}


.container{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(185, 41%, 84%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    background-color: white;
    border-radius: 1.2rem;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    font-size: 0.75rem;
    padding: 1.3rem;
    width: 38rem;
    gap: 2rem;
}

.inputs{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

.inputs p{
    margin-bottom: 0.3rem;
}

.inputs input{
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    outline: none;
    border: none;
    padding: 0.2rem 0;
    font-size: 1.15rem;
}

.bill{
    margin-top: 0.7rem;
    width: 100%;
    position: relative;
}

.input-container{
    position: relative;
}

.bill input{
    text-align: end;
    width: 100%;
    padding-right: 0.65rem;
}

.input-container i{
    position: absolute;
    left: 0.6rem;
    bottom: 0.5rem;
}

.peoples{
    margin-bottom: 0.7rem;
}


.tip-buttons{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
    position: relative;
}

.tip-buttons button, .tip-buttons input{
    width: 5rem;
    padding: 0.3rem;
}

.tip-buttons button{
    color: white;
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 0.25rem;
    font-weight: 700;
    cursor: pointer;
}

.tip-buttons button:hover{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.tip-buttons input{
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

.peoples{
    position: relative;
    width: 100%;
}

.peoples input{
    width: 100%;
    text-align: end;
    padding-right: 0.65rem;
}


.active{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}


.results{
    width: 50%;
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
}

.tip-divided, .tip-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(189, 41%, 97%);
    font-size: 0.7rem;
    margin: 1.5rem 1.5rem 0 1.5rem;

}

.tip-divided p, .tip-total p{
    width: 6rem;
}

.results span{
    color: hsl(184, 14%, 56%);
    font-size: 0.6rem;
}


.result{
    font-size: 1.8rem;
    color: hsl(172, 67%, 45%);
}

.button-reset{
    margin: auto 1.5rem 1.5rem 1.5rem;
}

.button-reset button{
    width: 100%;
    padding: 0.3rem;
    border: none;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    background-color: hsl(172, 67%, 45%);
    cursor: pointer;
    border-radius: 0.2rem;
}

.button-reset button:disabled{
    opacity: 0.4;
    cursor: auto;
}


.error-msj{
    position: absolute;
    right: 0.5rem;
    bottom: -1.5rem;
    font-size: 0.8rem;
    color: red;
}





@media (max-width:565px){

    .card{
        flex-wrap: wrap;
        width: 23rem;
    }

    .inputs{
        width: 100%;
    }


    .results{
        width: 100%;
    }
}